* {
	padding: 0;
	margin: 0;
	list-style: none;
	outline: none;
	border: none;
	text-decoration: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@import 'utils/animations';
@import 'colors';
@import 'login';
@import 'dashboard';
