/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
$sib-var: 20px;
@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY($sib-var);
		transform: translateY($sib-var);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY($sib-var);
		transform: translateY($sib-var);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
